.fondo{
    background-color: #FFD175 ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fondo1{
    background-color: #FFC95D;
}

.color{
    color: white;
}

.icono{
    width: 30px;
    height: auto;
    text-align: end;
}

.colores{
    color: #767676;
}

.activo{
    color: #2f2f2f;
}

.activo2{
    color: black;
}

.letra{
    font-weight: 400;
}

.fondo2{
    background-color: #2A2929;
}

.fondo3{
    background-color: #00445f;
    min-height: 100px;
}

.posicion{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.jarana{
    width: 100px;
    height: auto;
}

.ig{
    width: 20px;
    height: auto;
    float: left;
}

.ig2{
    width: 40px;
    height: auto;
}

.spotify{
    width: 20px;
    height: auto;
    float: left;
}

.spotify2{
    width: 40px;
    height: auto;
}

.espacio{
    padding-left: 25px;
}

.espacio2{
    padding-right: 25px;
    width: 10vh;
}

.espacio3{
    padding-top: 2%;
}

.espacio4{
    padding-right: 5px;
    width: 6vh;
    height: auto;
}

.espacio5{
    padding-bottom: 2%;
}

.espacio6{
    min-height: 180px;
}

.espacio7{
    padding-right: 52%;
    padding-top: 4%;
}

.footer{
    margin-top: auto;
    position: absolute;
    width: 100%;
}

.fotos{
    height: 80vh;
}

.fotos2{
    min-height: 350px;
}

.catalogo{
    padding-bottom: 15vh;
}

.carta{
    min-height: 110vh;
}

.colores:hover{
    color: black;
    text-decoration: none;
}

.activo:hover{
    color: black;
    text-decoration: none;   
}

.color:hover{
    color: white;
    text-decoration: none;
}

@media(max-width: 1230px){
    .espacio6{
        min-height: 200px;
    }
}

@media(max-width: 1050px){
    .espacio6{
        min-height: 230px;
    }
}

@media(max-width: 870px){
    .espacio6{
        min-height: 250px;
    }
}

@media(max-width: 765px){
    .espacio6{
        min-height: auto;
    }
}
